.container {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  gap: 20px; /* Spacing between logo and remote */
}

.logo {
  width: 100px; /* 로고의 너비 */
  height: 100px; /* 로고의 높이 */
  background-image: /* webpackIgnore: true */ url("assets/SideBar/logo.svg");
  background-size: cover;
}

.remote {
  width: 50px;
  height: 50px;
  background-image: /* webpackIgnore: true */ url("assets/SideBar/remote.png");
  background-size: cover;
  z-index: 1;
}

.terminal {
  width: 50px;
  height: 50px;
  background-image: /* webpackIgnore: true */ url("assets/SideBar/terminal.png");
  background-size: cover;
  z-index: 1;
}

.location {
  width: 50px;
  height: 50px;
  background-image: /* webpackIgnore: true */ url("assets/SideBar/location.png");
  background-size: cover;
  z-index: 1;
}

.ulsanlogo {
  width: 100px; /* 로고의 너비 */
  height: 100px; /* 로고의 높이 */
  background-image: /* webpackIgnore: true */ url("assets/SideBar/ulsanlogo.svg");
  background-size: cover;
  position: fixed;
  bottom: 0;
  left: 0%;
}
