.container {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  gap: 100px;
  /* background-color: gray; */
}

.menu {
  display: flex; /* Flexbox를 사용하여 요소들을 수평으로 배치합니다. */
  flex-direction: column; /* 요소들을 세로로 정렬합니다. */
  gap: 100px; /* 요소들 사이의 간격을 100px로 설정합니다. */
}

.logo {
  width: 134px; /* 로고의 너비 */
  height: 134px; /* 로고의 높이 */
  background-image: /* webpackIgnore: true */ url("assets/SideBar/logo.svg");
  background-size: cover;
}

.gps {
  width: 97px;
  height: 97px;
  background-image: /* webpackIgnore: true */ url("assets/SideBar/GPS.svg");
  background-size: cover;
  z-index: 1;
}

.imu {
  width: 97px;
  height: 97px;
  background-image: /* webpackIgnore: true */ url("assets/SideBar/IMU.svg");
  background-size: cover;
  z-index: 1;
}

.lidar {
  width: 97px;
  height: 97px;
  background-image: /* webpackIgnore: true */ url("assets/SideBar/lidar.svg");
  background-size: cover;
  z-index: 1;
}

.satlelite {
  width: 97px;
  height: 97px;
  background-image: /* webpackIgnore: true */ url("assets/SideBar/satlelite.svg");
  background-size: cover;
  z-index: 1;
}

.ulsanlogo {
  width: 97px;
  height: 97px;
  background-image: /* webpackIgnore: true */ url("assets/SideBar/ulsanlogo.svg");
  background-size: cover;
  /* position: fixed; */
  z-index: 1;
}
